[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "LBNL2019/reveal.js"]
	path = LBNL2019/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Chamberlain/reveal.js"]
	path = Chamberlain/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Perimeter_Jan2020/reveal.js"]
	path = Perimeter_Jan2020/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "TIFR_2022/reveal.js"]
	path = TIFR_2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "testppt/reveal.js"]
	path = testppt/reveal.js
	url = https://github.com/modichirag/reveal.js