[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "LBNL2019/reveal.js"]
	path = LBNL2019/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Chamberlain/reveal.js"]
	path = Chamberlain/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Perimeter_Jan2020/reveal.js"]
	path = Perimeter_Jan2020/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "RIMSeminar/reveal.js"]
	path = RIMSeminar/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "TIFR_Apr2022/reveal.js"]
	path = TIFR_Apr2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "TIFR_Apr2022-v2/reveal.js"]
	path = TIFR_Apr2022-v2/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "ICML2022/reveal.js"]
	path = ICML2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "ODSL_Oct2022/reveal.js"]
	path = ODSL_Oct2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Yale_Jan2023/reveal.js"]
	path = Yale_Jan2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "CCNSeminar/reveal.js"]
	path = CCNSeminar/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "CMU_Feb2023/reveal.js"]
	path = CMU_Feb2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "MUST_May2023/reveal.js"]
	path = MUST_May2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "MLX_May2023/reveal.js"]
	path = MLX_May2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "MIAPbP_June2023/reveal.js"]
	path = MIAPbP_June2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Vienna_Oct2023/reveal.js"]
	path = Vienna_Oct2023/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "UNAM_Dec2023/reveal.js"]
	path = UNAM_Dec2023/reveal.js
	url = https://github.com/modichirag/reveal.js
