[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "LBNL2019/reveal.js"]
	path = LBNL2019/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Chamberlain/reveal.js"]
	path = Chamberlain/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "Perimeter_Jan2020/reveal.js"]
	path = Perimeter_Jan2020/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "RIMSeminar/reveal.js"]
	path = RIMSeminar/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "TIFR_Apr2022/reveal.js"]
	path = TIFR_Apr2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "TIFR_Apr2022-v2/reveal.js"]
	path = TIFR_Apr2022-v2/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "ICML2022/reveal.js"]
	path = ICML2022/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "ODSL/reveal.js"]
	path = ODSL/reveal.js
	url = https://github.com/modichirag/reveal.js
[submodule "ODSL_Oct2022/reveal.js"]
	path = ODSL_Oct2022/reveal.js
	url = https://github.com/modichirag/reveal.js
